body {background-color: lightgreen;
}
h1,h2{
  font-size: 30;
  font-family: sans-serif;
}
p{
  font-size: 14;
  font-family: verdana;
}
div.main {
  max-width:700px
  margin:0 auto;
}

.icon-food {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  display: table;
  margin: 0 auto;
}

img {max-width: 50%;}
/* FOR SMALLER SCREENS */
@media (max-width: 700px) {
  body{
    background-color: papayawhip;
    width:100%;
  }
}
.icon-food{
  display:flex;
  flex-wrap:wrap;
}

.text {
  flex-basis:72%
  border:1 px solid #000
}
